<div class="flex justify-content-center view-detail">
    <button 
        type="button" 
        (click)="showDialog()" 
        pButton 
        icon="pi pi-external-link" 
        label="View Detail">
    </button>
</div>
<p-dialog 
    header="Header" 
    [resizable]="false" 
    [modal]="true" 
    [maximizable]="true" 
    appendTo="body" 
    [(visible)]="dialogVisible" 
    [style]="{width: '75vw'}" 
    [contentStyle]="{height: '300px'}">      
    <p-table [value]="position" [loading]="loading"  styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Fee Total</th>
                <th>Avg Buy</th>
                <th>Avg Buy Total</th>
                <th>Avg Sell</th>
                <th>Avg Sell Total</th>
                <th>Latest Quote</th>
                <th>Latest Quote Total</th>
                <th>Profit</th>
                <th>Start</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-position>
            <tr>
                <td>{{ position.symbol }}</td>
                <td>{{ position.quantity }}</td>
                <td>{{ position.history[position.history.length - 1].fee.total }}</td>
                <td>{{ position.history[position.history.length - 1].average.buy.unit }}</td>
                <td>{{ position.history[position.history.length - 1].average.buy.total }}</td>
                <td>{{ position.history[position.history.length - 1].average.sell.unit }}</td>
                <td>{{ position.history[position.history.length - 1].average.sell.total }}</td>
                <td>
                    {{ position.latest.unit }}
                    <i 
                        class="pi pi-pencil p-clickable" 
                        (click)="showEditLatestQuote(position)">
                    </i>
                </td>
                <td>{{ position.latest.total }}</td>
                <td>{{ position.history[position.history.length - 1].profitLoss }}</td>
                <td>{{ position.history[position.history.length - 1].startDate | date:'dd/MM/yyyy' }}</td>
            </tr>
        </ng-template>
    </p-table>
        <ng-template pTemplate="footer">
            <button 
                type="button" 
                pButton 
                pRipple 
                icon="pi pi-times" 
                (click)="dialogVisible=false" 
                label="Dismiss" 
                class="p-button-text">
            </button>
        </ng-template>
</p-dialog>
<div class="card">
    <p-table [value]="position" [loading]="loading"  styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="symbol">
                  Symbol <p-sortIcon field="symbol" />
                </th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-position>
            <tr>
                <td>{{ position.symbol }}</td>
                <td>{{ position.quantity }}</td>
                <td>{{ getTotal(position) }}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  <p-dialog header="Edit Latest Quote" [modal]="true" [(visible)]="dialogVisibleEditLatestQuote" >
    <p-card header="{{ editLatestQuote.symbol }}">
        <div class="p-fluid">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="p-field">
              <label for="unit">Unit</label>
              <input id="unit" type="unit" pInputText placeholder="Unit" formControlName="unit">
            </div>
            <div class="p-field">
              <label for="date">Date</label>
              <input id="date" type="date" pInputText placeholder="Date" formControlName="date">
            </div>
            <p-button label="Update" icon="pi pi-check" type="submit"></p-button>
          </form>
        </div>
      </p-card>
</p-dialog>
<p-toast></p-toast>
