.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

:host ::ng-deep .p-menubar {
    border-radius: 0 !important;
}

.menu-logout {
    cursor: pointer;
    margin-right: 25px;
}
  
