<div class="login-container">
  <p-card header="Login">
    <div class="p-fluid">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <label for="email">Email</label>
          <input id="email" type="email" pInputText placeholder="Email" formControlName="email">
          <small *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="p-error">
            Email inválido
          </small>
        </div>
        <div class="p-field">
          <label for="password">Senha</label>
          <input id="password" type="password" pInputText placeholder="Senha" formControlName="password">
          <small *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="p-error">
            Senha inválida
          </small>
        </div>
        <p-button label="Login" icon="pi pi-check" type="submit" [disabled]="loginForm.invalid"></p-button>
        <div *ngIf="errorMsg" class="p-error">{{ errorMsg }}</div>
      </form>
    </div>
  </p-card>
</div>

  