@import '~node_modules/primeng/resources/themes/lara-dark-indigo/theme.css';
@import "primeicons/primeicons.css";

html {
    font-size: 14px;
}

body {
    margin-top: 60px;
    font-family: var(--font-family);
    font-weight: normal;
}
