<form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" type="number">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput formControlName="date" type="date">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Fee</mat-label>
      <input matInput formControlName="fee" type="number">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Operation</mat-label>
      <mat-select formControlName="operation">
        <mat-option value="true">Buy</mat-option>
        <mat-option value="false">Sell</mat-option>
      </mat-select>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit">Create Stock</button>
  </form>
  
