<form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
      <div class="p-field">
        <label for="symbol">Symbol</label>
        <input id="symbol" pInputText formControlName="symbol">
      </div>
    </div>

    <div class="p-col-12 p-md-4">
      <div class="p-field">
        <label for="quantity">Quantity</label>
        <input id="quantity" pInputText formControlName="quantity" type="number">
      </div>
    </div>

    <div class="p-col-12 p-md-4">
      <div class="p-field">
        <label for="date">Date</label>
        <p-calendar id="date" formControlName="date" dateFormat="mm/dd/yy"></p-calendar>
      </div>
    </div>

    <div class="p-col-12 p-md-4">
      <div class="p-field">
        <label for="price">Price</label>
        <input id="price" pInputText formControlName="price" type="number">
      </div>
    </div>

    <div class="p-col-12 p-md-4">
      <div class="p-field">
        <label for="fee">Fee</label>
        <input id="fee" pInputText formControlName="fee" type="number">
      </div>
    </div>

    <div class="p-col-12 p-md-4">
      <div class="p-field">
        <label for="operation">Operation</label>
        <p-dropdown id="operation" formControlName="operation" [options]="operations"></p-dropdown>
      </div>
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Create Stock" icon="pi pi-check" class="p-mt-3"></button>
    </div>
  </div>
</form>
